<!DOCTYPE html>
<html>
<head>
    <title>{{ cinema.name }}</title>
    <style>
        h1, h2 {
            text-align: center;
        }
        div {
            text-align: center;
        }

        a {
            text-decoration: none;
            color: black;
            font-size: 18px ;
        }
    </style>
</head>
<body>
    <h1> {{ cinema.name }}</h1>
    <h2> {{ cinema.city.name }}</h2>

    <div><a href="{{ url_for('showtimes', city_id=cinema.city_id, cinema_id=cinema.id) }}">Zobacz repertuar</a></div>
</body>
</html>
