<!DOCTYPE html>
<html>
<head>
    <title>Ticket Reservation</title>
</head>
<body>
    <h1>Ticket Reservation</h1>

    <form action="{{ url_for('confirm_reservation', showtime_id=showtime_id) }}" method="post">
        <label for="client_name">Podaj swoje imię:</label>
        <input type="text" id="client_name" name="client_name" required><br>
        <input type="hidden" id="selectedSeats" name="seat_ids" value="{{ seat_ids }}">
  <input type="submit" value="Potwierdź rezerwację">
</form>

</body>
</html>
